The book was not able to save, please go back to new to enter details again.

<form action="/google_books/new" method="get">
    <input type="submit" value="Go back to my new form"> Go back to new </input>
</form>